<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_976719e335af464b8b32b93040de043f {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_976719e335af464b8b32b93040de043f" ></div>
        
</body>
<script>    
    
            var map_976719e335af464b8b32b93040de043f = L.map(
                "map_976719e335af464b8b32b93040de043f",
                {
                    center: [51.502124, -0.117457],
                    crs: L.CRS.EPSG3857,
                    zoom: 14,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_d2704a19bedc4e96a744d7cb01d3ea61 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_976719e335af464b8b32b93040de043f);
        
    
            var marker_8d1facbf302b4ce299bfcd960b75a610 = L.marker(
                [51.5032, -0.12691],
                {}
            ).addTo(map_976719e335af464b8b32b93040de043f);
        
    
        var popup_70741eb57b0a4c8fa90ca8b8489b7bba = L.popup({"maxWidth": 200});

        
            var html_2df9d88f40fe469e9fd4d5708bd309ba = $(`<div id="html_2df9d88f40fe469e9fd4d5708bd309ba" style="width: 100.0%; height: 100.0%;"><strong>Friendly tank</strong><br />Type: Challenger 2</div>`)[0];
            popup_70741eb57b0a4c8fa90ca8b8489b7bba.setContent(html_2df9d88f40fe469e9fd4d5708bd309ba);
        

        marker_8d1facbf302b4ce299bfcd960b75a610.bindPopup(popup_70741eb57b0a4c8fa90ca8b8489b7bba)
        ;

        
    
    
            marker_8d1facbf302b4ce299bfcd960b75a610.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b31ebaaf93c44a448a1d7b0ec0c3c9d9 = L.marker(
                [51.50222, -0.12752],
                {}
            ).addTo(map_976719e335af464b8b32b93040de043f);
        
    
        var popup_c65236e3b77a417a8cb59fcb8fbfbe9d = L.popup({"maxWidth": 200});

        
            var html_0d8bfec89130421b8e03146a551b4b57 = $(`<div id="html_0d8bfec89130421b8e03146a551b4b57" style="width: 100.0%; height: 100.0%;"><strong>Friendly tank</strong><br />Type: Challenger 2</div>`)[0];
            popup_c65236e3b77a417a8cb59fcb8fbfbe9d.setContent(html_0d8bfec89130421b8e03146a551b4b57);
        

        marker_b31ebaaf93c44a448a1d7b0ec0c3c9d9.bindPopup(popup_c65236e3b77a417a8cb59fcb8fbfbe9d)
        ;

        
    
    
            marker_b31ebaaf93c44a448a1d7b0ec0c3c9d9.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f709d58a55ff4ae09ef13d44bd2a0c05 = L.marker(
                [51.50172, -0.12615],
                {}
            ).addTo(map_976719e335af464b8b32b93040de043f);
        
    
        var popup_df089729ad634dbeacd55ce448a7f6d6 = L.popup({"maxWidth": 200});

        
            var html_9e68bdd119134e3198b6286cfd538209 = $(`<div id="html_9e68bdd119134e3198b6286cfd538209" style="width: 100.0%; height: 100.0%;"><strong>Friendly tank</strong><br />Type: Challenger 2</div>`)[0];
            popup_df089729ad634dbeacd55ce448a7f6d6.setContent(html_9e68bdd119134e3198b6286cfd538209);
        

        marker_f709d58a55ff4ae09ef13d44bd2a0c05.bindPopup(popup_df089729ad634dbeacd55ce448a7f6d6)
        ;

        
    
    
            marker_f709d58a55ff4ae09ef13d44bd2a0c05.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4f9450e931d94f83870fe97c344a4dde = L.marker(
                [51.500958, -0.124205],
                {}
            ).addTo(map_976719e335af464b8b32b93040de043f);
        
    
        var popup_2f9d3a9e57364e07b653501872b13f81 = L.popup({"maxWidth": 200});

        
            var html_bd4bbaedc2f648d2849555f73097d192 = $(`<div id="html_bd4bbaedc2f648d2849555f73097d192" style="width: 100.0%; height: 100.0%;"><strong>Friendly jet</strong><br />Type: Typhoon FGR4</div>`)[0];
            popup_2f9d3a9e57364e07b653501872b13f81.setContent(html_bd4bbaedc2f648d2849555f73097d192);
        

        marker_4f9450e931d94f83870fe97c344a4dde.bindPopup(popup_2f9d3a9e57364e07b653501872b13f81)
        ;

        
    
    
            marker_4f9450e931d94f83870fe97c344a4dde.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_02339c9d633344389cce50524306a9c2 = L.marker(
                [51.506698, -0.122803],
                {}
            ).addTo(map_976719e335af464b8b32b93040de043f);
        
    
        var popup_25b81bb395a94e2f8855c8bad491424e = L.popup({"maxWidth": 200});

        
            var html_fffdcbf598c942229f43fba9b697acae = $(`<div id="html_fffdcbf598c942229f43fba9b697acae" style="width: 100.0%; height: 100.0%;"><strong>Friendly jet</strong><br />Type: Typhoon FGR4</div>`)[0];
            popup_25b81bb395a94e2f8855c8bad491424e.setContent(html_fffdcbf598c942229f43fba9b697acae);
        

        marker_02339c9d633344389cce50524306a9c2.bindPopup(popup_25b81bb395a94e2f8855c8bad491424e)
        ;

        
    
    
            marker_02339c9d633344389cce50524306a9c2.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e3e80080bce64ea1a0e46634ead295bf = L.marker(
                [51.50325, -0.1334],
                {}
            ).addTo(map_976719e335af464b8b32b93040de043f);
        
    
        var popup_dc918b5fdbc7404f902a6910d7784e34 = L.popup({"maxWidth": 200});

        
            var html_4d2f7254fc96411e8f479547ddfe86bb = $(`<div id="html_4d2f7254fc96411e8f479547ddfe86bb" style="width: 100.0%; height: 100.0%;"><strong>Friendly troops</strong><br />Type: Light infantry</div>`)[0];
            popup_dc918b5fdbc7404f902a6910d7784e34.setContent(html_4d2f7254fc96411e8f479547ddfe86bb);
        

        marker_e3e80080bce64ea1a0e46634ead295bf.bindPopup(popup_dc918b5fdbc7404f902a6910d7784e34)
        ;

        
    
    
            marker_e3e80080bce64ea1a0e46634ead295bf.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_42ed752eac32410789e93e5f0f64af53 = L.marker(
                [51.500627, -0.12684],
                {}
            ).addTo(map_976719e335af464b8b32b93040de043f);
        
    
        var popup_cd42e19a440d475885d07528edd32d40 = L.popup({"maxWidth": 200});

        
            var html_541a8586a5194e37abd9292f9d48b48e = $(`<div id="html_541a8586a5194e37abd9292f9d48b48e" style="width: 100.0%; height: 100.0%;"><strong>Friendly troops</strong><br />Type: Light infantry</div>`)[0];
            popup_cd42e19a440d475885d07528edd32d40.setContent(html_541a8586a5194e37abd9292f9d48b48e);
        

        marker_42ed752eac32410789e93e5f0f64af53.bindPopup(popup_cd42e19a440d475885d07528edd32d40)
        ;

        
    
    
            marker_42ed752eac32410789e93e5f0f64af53.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_61aa6ac5851b4fedaf9f4f8668e9225d = L.marker(
                [51.500785, -0.118805],
                {}
            ).addTo(map_976719e335af464b8b32b93040de043f);
        
    
        var popup_2d33e5eb1bb341b59d0f9da631313302 = L.popup({"maxWidth": 200});

        
            var html_f75ee89be0f24c55ace7bfce3a0af6d4 = $(`<div id="html_f75ee89be0f24c55ace7bfce3a0af6d4" style="width: 100.0%; height: 100.0%;"><strong>Enemy tank</strong><br />Type: T-ank 42</div>`)[0];
            popup_2d33e5eb1bb341b59d0f9da631313302.setContent(html_f75ee89be0f24c55ace7bfce3a0af6d4);
        

        marker_61aa6ac5851b4fedaf9f4f8668e9225d.bindPopup(popup_2d33e5eb1bb341b59d0f9da631313302)
        ;

        
    
    
            marker_61aa6ac5851b4fedaf9f4f8668e9225d.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5ca8825b95a8491984df2bfe809707cb = L.marker(
                [51.502349, -0.116394],
                {}
            ).addTo(map_976719e335af464b8b32b93040de043f);
        
    
        var popup_9df60fe68b824c35847fec106231a79c = L.popup({"maxWidth": 200});

        
            var html_020dfb8d930e4a52ab2bf342d398060c = $(`<div id="html_020dfb8d930e4a52ab2bf342d398060c" style="width: 100.0%; height: 100.0%;"><strong>Enemy tank</strong><br />Type: T-ank 42</div>`)[0];
            popup_9df60fe68b824c35847fec106231a79c.setContent(html_020dfb8d930e4a52ab2bf342d398060c);
        

        marker_5ca8825b95a8491984df2bfe809707cb.bindPopup(popup_9df60fe68b824c35847fec106231a79c)
        ;

        
    
    
            marker_5ca8825b95a8491984df2bfe809707cb.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_59ba08c42f184c43a3c7abe0f26e3326 = L.marker(
                [51.498493, -0.117331],
                {}
            ).addTo(map_976719e335af464b8b32b93040de043f);
        
    
        var popup_dd493ca2576147ccb08e34a67241ef95 = L.popup({"maxWidth": 200});

        
            var html_05fd6d23544f4a90bd12231284c50ba4 = $(`<div id="html_05fd6d23544f4a90bd12231284c50ba4" style="width: 100.0%; height: 100.0%;"><strong>Enemy tank</strong><br />Type: T-ank 42</div>`)[0];
            popup_dd493ca2576147ccb08e34a67241ef95.setContent(html_05fd6d23544f4a90bd12231284c50ba4);
        

        marker_59ba08c42f184c43a3c7abe0f26e3326.bindPopup(popup_dd493ca2576147ccb08e34a67241ef95)
        ;

        
    
    
            marker_59ba08c42f184c43a3c7abe0f26e3326.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d6c06ddae5984a30bbdd48843cc2abc3 = L.marker(
                [51.496663, -0.108802],
                {}
            ).addTo(map_976719e335af464b8b32b93040de043f);
        
    
        var popup_7d19048de08c4872856c6ed3f0338538 = L.popup({"maxWidth": 200});

        
            var html_d39104e54f8d4283b6d43228ddc3c075 = $(`<div id="html_d39104e54f8d4283b6d43228ddc3c075" style="width: 100.0%; height: 100.0%;"><strong>Enemy jet</strong><br />Type: Mig-ht BBAD</div>`)[0];
            popup_7d19048de08c4872856c6ed3f0338538.setContent(html_d39104e54f8d4283b6d43228ddc3c075);
        

        marker_d6c06ddae5984a30bbdd48843cc2abc3.bindPopup(popup_7d19048de08c4872856c6ed3f0338538)
        ;

        
    
    
            marker_d6c06ddae5984a30bbdd48843cc2abc3.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2fb607ca50584145937880b0696cb90a = L.marker(
                [51.503625, -0.105697],
                {}
            ).addTo(map_976719e335af464b8b32b93040de043f);
        
    
        var popup_f8346441dd2846d89a31d562675f756d = L.popup({"maxWidth": 200});

        
            var html_04f65070975f4d1c9e4bfc71c03297f7 = $(`<div id="html_04f65070975f4d1c9e4bfc71c03297f7" style="width: 100.0%; height: 100.0%;"><strong>Enemy jet</strong><br />Type: Mig-ht BBAD</div>`)[0];
            popup_f8346441dd2846d89a31d562675f756d.setContent(html_04f65070975f4d1c9e4bfc71c03297f7);
        

        marker_2fb607ca50584145937880b0696cb90a.bindPopup(popup_f8346441dd2846d89a31d562675f756d)
        ;

        
    
    
            marker_2fb607ca50584145937880b0696cb90a.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6cde6f0073cb4f2eb4805337b2744691 = L.marker(
                [51.494361, -0.121365],
                {}
            ).addTo(map_976719e335af464b8b32b93040de043f);
        
    
        var popup_7259a55e172a4c6684c7d34850010a41 = L.popup({"maxWidth": 200});

        
            var html_df6611b60c2446c7a47da8e26dddcd78 = $(`<div id="html_df6611b60c2446c7a47da8e26dddcd78" style="width: 100.0%; height: 100.0%;"><strong>Enemy troops</strong><br />Type: Light infantry</div>`)[0];
            popup_7259a55e172a4c6684c7d34850010a41.setContent(html_df6611b60c2446c7a47da8e26dddcd78);
        

        marker_6cde6f0073cb4f2eb4805337b2744691.bindPopup(popup_7259a55e172a4c6684c7d34850010a41)
        ;

        
    
    
            marker_6cde6f0073cb4f2eb4805337b2744691.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7c28c88f47474b12b013ad6400928cef = L.marker(
                [51.495117, -0.100385],
                {}
            ).addTo(map_976719e335af464b8b32b93040de043f);
        
    
        var popup_b36e4e730fc94c55ab8e75abfd766e56 = L.popup({"maxWidth": 200});

        
            var html_05ff0ac0881b44fcbfa3d6e9286445c4 = $(`<div id="html_05ff0ac0881b44fcbfa3d6e9286445c4" style="width: 100.0%; height: 100.0%;"><strong>Enemy troops</strong><br />Type: Light infantry</div>`)[0];
            popup_b36e4e730fc94c55ab8e75abfd766e56.setContent(html_05ff0ac0881b44fcbfa3d6e9286445c4);
        

        marker_7c28c88f47474b12b013ad6400928cef.bindPopup(popup_b36e4e730fc94c55ab8e75abfd766e56)
        ;

        
    
    
            marker_7c28c88f47474b12b013ad6400928cef.bindTooltip(
                `<div>
                     Click for info!
                 </div>`,
                {"sticky": true}
            );
        
</script>